<md-content flex="grow">
  <h1 class="md-headline">Select visualization parameters</h1>
  <form name="graphForm">
    <div layout-gt-xs="row">
      <md-input-container flex-gt-xs>
        <label>Source inputs</label>
        <md-select name="sources" multiple required
          ng-model="selectedSources"
          md-on-close="loadData()">
          <md-option ng-repeat="dev in devices|orderBy:['type', 'name']" ng-value="dev.gid">
            <span class="capitalize">{{dev.type}}</span> {{dev.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container flex-gt-xs>
        <label>Stepping</label>
        <md-select name="step" required
          ng-model="step"
          md-on-close="loadData()">
          <md-option ng-repeat="s in steppings" ng-value="s.value">
            {{s.name}}
          </md-option>
        </md-select>
        <div ng-messages="graphForm.step.$error" role="alert">
          <div ng-message="required">Select stepping</div>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <div class="datepicker" flex-gt-xs>
        <md-datepicker name="startDate" ng-model="start.date" md-placeholder="Start date" required></md-datepicker>
        <div class="validation-messages" ng-messages="graphForm.startDate.$error" role="alert">
          <div ng-message="valid">The entered value is not a date!</div>
          <div ng-message="required">Start date is required!</div>
        </div>
      </div>
      <md-input-container flex-gt-xs>
        <label>Start hour</label>
        <input type="number" name="startHour" min="0" max="23" placeholder="hh" required
               ng-model="start.hour"
               ng-pattern="/^([0-1]?[0-9])|(2[0-3])$/"
        />
        <div ng-messages="graphForm.startHour.$error" role="alert">
          <div ng-message="required">Start hour is required!</div>
          <div ng-message="pattern">Invalid hour</div>
        </div>
      </md-input-container>
      <md-input-container flex-gt-xs>
        <label>Start minute</label>
        <input type="number" name="startMinute" min="0" max="59" placeholder="mm" required
               ng-model="start.minute"
               ng-pattern="/^([0-5]?[0-9])$/"
        />
        <div ng-messages="graphForm.startMinute.$error" role="alert">
          <div ng-message="required">Start minute is required!</div>
          <div ng-message="pattern">Invalid minute</div>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <div class="md-block datepicker" flex-gt-xs>
        <md-datepicker name="endDate" ng-model="end.date" md-placeholder="End date" required></md-datepicker>
        <div class="validation-messages" ng-messages="graphForm.endDate.$error" role="alert">
          <div ng-message="valid">The entered value is not a date!</div>
          <div ng-message="required">End date is required!</div>
        </div>
      </div>
      <md-input-container flex-gt-xs>
        <label>End hour</label>
        <input type="number" name="endHour" placeholder="hh" min="0" max="23" required
               ng-model="end.hour"
               nxg-pattern="/^([0-1]?[0-9])|(2[0-3])$/"
        />
        <div ng-messages="graphForm.endHour.$error" role="alert">
          <div ng-message="required">End hour is required!</div>
          <div ng-message="pattern">Invalid hour</div>
          <div ng-message="min">Hour can't be negative</div>
          <div ng-message="max">Hour can't be larger than 23</div>
        </div>
      </md-input-container>
      <md-input-container flex-gt-xs>
        <label>End minute</label>
        <input type="number" name="endMinute" placeholder="mm" min="0" max="59" required
               ng-model="end.minute"
               nxg-pattern="/^([0-5]?[0-9])$/"
        />
        <div ng-messages="graphForm.endMinute.$error" role="alert">
          <div ng-message="required">End minute is required!</div>
          <div ng-message="pattern">Invalid minute</div>
          <div ng-message="min">Minute can't be negative</div>
          <div ng-message="max">Minute can't be larger than 59</div>
        </div>
      </md-input-container>
    </div>
  </form>
  <nvd3 options="chart.options" data="chart.data"></nvd3>
</md-content>
