@import "theme";

#boot {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: @theme-animation-splash-fade;
  transition-delay: 0.5s;
  background-color: @theme-color-4;

  &.ng-hide-add {
    opacity: 1;
  }

  &.ng-hide-add-active {
    opacity: 0;
  }

  #noscript {
    text-align: center;
    background-color: @theme-color-1;
    padding: 1em 0;
  }

  #booterrors {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: @theme-background;
  }

  #cookiewarning, #legacywarning {
    &.ng-hide {
      display: none;
    }

    background-color: @theme-color-1;
    width: 100%;
    max-width: 480px;
    margin: 2em auto;
    padding: 1em;
    text-align: center;
  }
}
