// default theme
// version: 2016-03
@theme-white: #FFFFFF;
@theme-color-1: #1A7BFF;
@theme-color-2: #D9D9D9;
@theme-color-3: #000000;
@theme-color-4: #0C0D0D;

@theme-background: @theme-white;

@theme-font-family: 'Droid Sans', sans-serif;
@theme-font-weight-bold: 600;
@theme-font-weight-semi-bold: 400;
@theme-font-weight-regular: 300;
@theme-font-weight-light: 200;
@theme-font-color: @theme-color-3;
@theme-font-color-inverted: @theme-background;

@theme-link-color: @theme-color-1;
@theme-link-color-hover: lighten(@theme-font-color, 5%);
@theme-link-weight: @theme-font-weight-semi-bold;

@theme-font-size-base: 62.5%; // aka 10px
@theme-font-size-title: 1.9rem;
@theme-font-size-content: 1.7rem;
@theme-font-size-button: 1.7rem;
@theme-font-size-footer: 1.25rem;
@theme-font-size-small: 1.2rem;

@theme-message-image-width: 100%;

@theme-animation-duration: 0.3s;
@theme-animation-function: ease-out;
@theme-animation-default: @theme-animation-duration all @theme-animation-function;
@theme-animation-splash-fade: all 0.5s ease-out;
