  <md-content id="boot" ng-controller="BootCtrl" class="ng-cloak" ng-hide="state.bootReady">
    <md-progress-circular md-mode="determinate" ng-value="(progress.loaded / progress.required) * 100"></md-progress-circular>
    <noscript>
      <div class="noscript">
        <h1>JavaScript is required. Please enable JavaScript to continue.</h1>
      </div>
    </noscript>
  </md-content>
