  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>EnOcean Graphs</title>
  <meta name="description" content="EnOcean Graphs">
  <meta name="author" content="Mikko Seppänen">

  <!-- theme coloring for various mobile devices -->
  <meta name="theme-color" content="#1A7BFF">
  <meta name="msapplication-navbutton-color" content="#1A7BFF">
  <meta name="apple-mobile-web-app-status-bar-style" content="#1A7BFF">

  <!-- Social media tags -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="EnOcean Graphs" />
  <meta property="og:description" content="EnOcean Graphing" />
  <meta property="og:url" content="nibbles.dy.fi" />
  <meta property="og:site_name" content="EnOcean Graphs" />
  <meta property="og:image" content="og-logo.png" />
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:description" content="EnOcean Graphing"/>
  <meta name="twitter:title" content="EnOcean Graphs"/>
  <meta name="twitter:site" content="@twitter-handle"/>
  <meta name="twitter:image" content="twitter-logo.png"/>

  <!-- Favicon, shortcut icons & stuff -->
  <!--[if IE]><link rel="shortcut icon" href="/images/favicons/favicon.ico"><![endif]-->
  <link rel="icon" type="image/png" sizes="64x64" href="/images/favicons/favicon.png">
  <meta name="application-name" content="EnOcean Graphs" />
  <meta name="msapplication-square70x70logo" content="/images/favicons/windows-tile-70x70.png">
  <meta name="msapplication-square150x150logo" content="/images/favicons/windows-tile-150x150.png">
  <meta name="msapplication-square310x310logo" content="/images/favicons/windows-tile-310x310.png">
  <meta name="msapplication-TileImage" content="/images/favicons/windows-tile-144x144.png">
  <meta name="msapplication-TileColor" content="#1A7BFF" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon.png">
